* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://image.freepik.com/vector-gratis/fondo-degradado-colores_53876-93208.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.button {
  background-color: #333;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button_bar {
  position: absolute;
  background-color: #fff;
  width: 80%;
  height: 10%;
  left: 10%;
  border-radius: 9999px;
  transition: 0.4s;
}

.Bar1, .Bar11, .Bar111, .Bar1111, .Bar11111, .Bar111111, .Bar1111111, .Bar11111111, .Bar111111111, .Bar1111111111, .Bar11111111111 {
  top: 17.5%;
}

.Bar2, .Bar22, .Bar222, .Bar2222, .Bar22222, .Bar222222, .Bar2222222, .Bar22222222, .Bar222222222, .Bar2222222222, .Bar22222222222 {
  top: 45%;
}

.Bar3, .Bar33, .Bar333, .Bar3333, .Bar33333, .Bar333333, .Bar3333333, .Bar33333333, .Bar333333333, .Bar3333333333, .Bar33333333333 {
  top: 72.5%;
}

/* Menu hamburguesa */
/* Botón 1 */
.Bar1.active1 {
  top: 45%;
  transform: rotate(45deg);
}

.Bar2.active2 {
  left: -100%;
}

.Bar3.active3 {
  top: 45%;
  transform: rotate(-45deg);
}

/* Botón 2 */
.Bar11.active11 {
  top: 45%;
  transform: rotate(45deg);
}

.Bar22.active22 {
  opacity: 0;
}

.Bar33.active33 {
  top: 45%;
  transform: rotate(-45deg);
}

/* Botón 3 */
.Bar111.active111 {
  top: 45%;
  transform: rotate(45deg);
}

.Bar222.active222 {
  transform: scale(0);
}

.Bar333.active333 {
  top: 45%;
  transform: rotate(-45deg);
}

/* Botón 4 */
.Bar1111.active1111 {
  top: 45%;
  transform: rotate(225deg);
}

.Bar2222.active2222 {
  transform: scale(0);
}

.Bar3333.active3333 {
  top: 45%;
  transform: rotate(-225deg);
}

/* Botón 5 */
.Bar11111.active11111 {
  top: 45%;
  transform: rotate(405deg);
}

.Bar22222.active22222 {
  transform: scale(0);
}

.Bar33333.active33333 {
  top: 45%;
  transform: rotate(-405deg);
}

/* Botón 6 */
.Bar111111.active111111 {
  top: 45%;
  transform: rotate(585deg);
}

.Bar222222.active222222 {
  transform: scale(0);
}

.Bar333333.active333333 {
  top: 45%;
  transform: rotate(-585deg);
}

/* Botón 7 */
.lbl-menu{
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transform: scale(1.2);
}

.lbl-menu #spn1,#spn2,#spn3{
  position: absolute;
  content: '';
  background:#ffff;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease;
}

#spn2{
  top: 12px;
}

#spn3{
  top: 23px;
}

#btn-menu{
  display: none;
}

#btn-menu:checked ~ .lbl-menu #spn1{
  transform: rotate(140deg);
  top: 10px;
}

#btn-menu:checked ~ .lbl-menu #spn2{
  opacity: 0;
}

#btn-menu:checked ~ .lbl-menu #spn3{
  transform: rotate(-140deg);
  top: 10px;
}

/* Flechas */
/* Botón 8 */
.Bar1111111.active1111111 {
  top: 30%;
  left: 45%;
  width: 50%;
  transform: rotate(45deg);
}

.Bar3333333.active3333333 {
  top: 60%;
  left: 45%;
  width: 50%;
  transform: rotate(-45deg);
}

/* Botón 9 */
.Bar11111111.active11111111 {
  top: 30%;
  left: 5%;
  width: 50%;
  transform: rotate(-45deg);
}

.Bar33333333.active33333333 {
  top: 60%;
  left: 5%;
  width: 50%;
  transform: rotate(45deg);
}

/* Botón 10 */
.Bar111111111.active111111111 {
  top: 30%;
  left: 5%;
  width: 50%;
  transform: rotate(-225deg);
}

.Bar333333333.active333333333 {
  top: 60%;
  left: 5%;
  width: 50%;
  transform: rotate(225deg);
}

/* Botón 11 */
.Bar1111111111.active1111111111 {
  top: 30%;
  left: 45%;
  width: 50%;
  transform: rotate(405deg);
}

.Bar3333333333.active3333333333 {
  top: 60%;
  left: 45%;
  width: 50%;
  transform: rotate(-405deg);
}

/* Botón 12 */
.Bar11111111111.active11111111111 {
  top: 30%;
  left: 45%;
  width: 50%;
  background-color: #0ff;
  transform: rotate(585deg);
}

.Bar22222222222.active22222222222 {
  background-color: #0ff;
}

.Bar33333333333.active33333333333 {
  top: 60%;
  left: 45%;
  width: 50%;
  background-color: #0ff;
  transform: rotate(-585deg);
}